/* add your scss tweaks here */
body {
    color: #3f4246!important;
    font-family: Manrope,sans-serif!important;
    font-size: .875rem!important;
    font-weight: 500!important;
    line-height: 1.6!important;
}
.bg-light {
    background-color: #ffffff!important;
}
.navbar {
    padding: 0.9rem 1rem!important;
    border-bottom: 1px solid #f3f3f3!important;
}
.navbar-brand {
    margin-right: 4rem!important;
}
.navbar-light .navbar-toggler {
    border-color:#ffffff!important;
}
.navbar-expand-lg .navbar-collapse {
    padding-top: 4px!important;
}
.navbar-expand-lg .navbar-nav {
    margin-top: 2px!important;
}
.tl-timeline h1, .tl-timeline h2, .tl-timeline h3, .tl-timeline h4, .tl-timeline h5, .tl-timeline h6 {
    font-family: Manrope,sans-serif!important;
    text-transform: capitalize!important;
    font-size: 1.875rem!important;
    font-weight: 600!important;
    line-height: 1.4!important;
}
.tl-timeline p {
    font-family: Manrope,sans-serif!important; 
    font-size: .825rem!important;
    line-height: 1.4em!important;
}
.tl-attribution {
    display: none!important;
}
