/* add your scss tweaks here */
body {
    color: #3f4246;
    font-family: Manrope,sans-serif;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.6;
}
.bg-light {
    background-color: #ffffff!important;
}
.navbar {
    padding: 0.9rem 1rem;
    border-bottom: 1px solid #f3f3f3;
}
@media (min-width: 992px)
.navbar-expand-lg .navbar-collapse {
    padding-top: 4px;
}
