<!doctype html>
<html lang="en">
    <head>
        {% include template/head.html %}
    </head>
    <body>
        {{ content }}
        {% if page.timeline or page.timeline-json %}<div id="timeline-embed" class="w-100"><iframe src='https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1pWOmJNhH8haLMThLRCXj1yHOWhrTB5ak0WHxgB-VE30&font=Abril-DroidSans&lang=en&hash_bookmark=true&initial_zoom=2&height=650' width='100%' height='650' webkitallowfullscreen mozallowfullscreen allowfullscreen frameborder='0'></iframe></div>{% endif %}
        {% include template/foot.html %}
    </body>
</html>
